{% extends "base.html" %}
{% block content %}
<h1 class="headline">پروفایل</h1>
<div class="form-wrapper">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="avatar-edit">
            <img src="{{ profile.avatar.url }}" alt="avatar picture">
            <label for="avatar-select">ویرایش تصویر</label>
            <input type="file" id="avatar-select" name="avatar">
        </div>

        <input type="text" class="form-input" name="first_name" placeholder="نام" value="{{ request.user.first_name }}">
        <input type="text" class="form-input" name="last_name" placeholder="نام خانوادگی" value="{{ request.user.last_name }}">
        <input type="password" class="form-input" name="password" placeholder="پسورد">
        <input type="password" class="form-input" name="confirm_password" placeholder="تکرار پسورد">
        <input type="submit" class="form-input" value="ویرایش">
    </form>
</div>
{% endblock %}
