{% extends "base.html" %}
{% block content %}
<h2>ثبت نام</h2>
<form method="post" class="auth-form">
    {% csrf_token %}

    <label for="username">نام کاربری:</label>
    <input type="text" name="username" placeholder="نام کاربری">

    <label for="email">ایمیل:</label>
    <input type="email" name="email" placeholder="ایمیل">

    <label for="password">رمز عبور:</label>
    <input type="password" name="password" placeholder="رمز عبور">

    <label for="password_confirm">تکرار رمز عبور:</label>
    <input type="password" name="password_confirm" placeholder="تکرار رمز عبور">

    <button type="submit">ثبت نام</button>
</form>

<p>از قبل حساب کاربری دارید؟ <a href="{% url 'login' %}">وارد شوید</a></p>
{% endblock %}
